set default=0
set timeout=15

insmod part_gpt
insmod part_msdos
insmod fat
insmod ext2
insmod all_video
insmod efi_gop
insmod efi_uga
insmod gfxterm
insmod font

if loadfont /boot/grub/fonts/unicode.pf2 ; then
    set gfxmode=auto
    set gfxpayload=keep
    terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

search --file --set=root /boot/vmlinuz

menuentry "Start flexOS Live" {
    linux /boot/vmlinuz root=live:CDLABEL=FLEXOS_LIVE rd.live.image
    initrd /boot/initrd.img
}

menuentry "Start flexOS Live (Basic graphics)" {
    linux /boot/vmlinuz root=live:CDLABEL=FLEXOS_LIVE rd.live.image nomodeset
    initrd /boot/initrd.img
}

if [ "$grub_platform" = "efi" ]; then
    menuentry "Boot from next volume" {
        exit
    }

    menuentry "UEFI Firmware Settings" {
        fwsetup
    }
fi
